<a href="https://colab.research.google.com/github/Gichul515/python202204/blob/main/Paythonday4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# page 90

# 조건문---매일 쓰는 가장 중요하고 많이쓴다.

# IF - 특징 조건을 만족하는지 여부에따라 실행하는 코드가 달라져야 할때 사용된다.

a = 5

if a > 0:
  print('양수')

if True: 
  print('양수')    #들어쓰기가 아주 중요하다

양수
양수

In [4]:
# if - else 

a=-5
if a>=0:
  print('양수')
else:
  print('음수')

음수

In [5]:
age = int(input('몇살입니까?>>>'))
if age >=20:
  print('성인')
else:
  print('미성년자')

몇살입니까?>>>21
성인

In [12]:
# if - elif

important = 40

if important >= 100:
  print('상')
else:
  if important >=50:
    print('중')
  else:
    print('하')

하

In [11]:
important = 40

if important >= 100:
  print('상')
elif important >=50:
  print('중')
else:
  print('하')

하

In [13]:
score = 40

if score >= 90:
  print('A')
elif score >=80:
  print('B')
elif score >=70:
  print('C')
elif score >=60:
  print('D')

else:
  print('F')

F

In [17]:
score =int(input('점수를입력하세요>>>'))



if score >=90:
    print(f'점수는 {score}점이고 , 학점은 A학점입니다.')
elif score >=80:
    print(f'점수는 {score}점이고 , 학점은 B학점입니다.')
elif score >=70:
    print(f'점수는 {score}점이고 , 학점은 C학점입니다.')
elif score >=60:
    print(f'점수는 {score}점이고 , 학점은 D학점입니다.')
else:
    print(f'점수는 {score}점이고 , 학점은 F학점입니다.')

점수를입력하세요>>>95
점수는 95점이고 , 학점은 A학점입니다.

In [18]:
score =int(input('점수를입력하세요>>>'))



if score >=90:
    hak = 'A'
elif score >=80:
    hak = 'B'
elif score >=70:
    hak = 'C'
elif score >=60:
    hak = 'D'
else:
    hak = 'F'

print(f'점수는 {score}점이고 , 학점은 {hak}학점입니다.')

점수를입력하세요>>>95
점수는 95점이고 , 학점은 A학점입니다.

In [20]:
# p 99   #2

num =int(input('정수를입력하세요>>>'))
if num % 3 ==0:
  print(f' {num}는 3의 배수입니다.')
else:
  print(f' {num}는 3의 배수가 아닙니다.')

정수를입력하세요>>>15
 15는 3의 배수입니다.

In [ ]:
# 3

no1 =int(input('정수1입력'))
no2 =int(input('정수2입력'))
no3 =int(input('정수3입력'))

In [25]:
# 4

car = input('차량번호를 입력하세요>>>'))

no = car[-1]

SyntaxError: ignored

In [28]:
# 반복문   
# while  -- 반복횟수를 정확히 모를 때                              해질때까지 운동장을 돌자
# for    -- 반복횟수를 정확히 할 때   헷갈리면 for를 쓰는게 좋다.  운동장을 10바퀴돌자

# while True:
# print('hello python')

n = 1
while n <= 10:
  print(f'{n} : hello world')
  n += 1

1 : hello world
2 : hello world
3 : hello world
4 : hello world
5 : hello world
6 : hello world
7 : hello world
8 : hello world
9 : hello world
10 : hello world

In [29]:
n = 10
while n>=1:
  print(n)
  n -= 1

10
9
8
7
6
5
4
3
2
1

In [31]:
my_list = []

n = int(input('정수를 입력하세요(종료는 0입니다.)>>>'))

while n !=0:
  my_list . append(n)
  n = int(input('정수를 입력하세요(종료는 0입니다.>>>'))

print(my_list)

정수를 입력하세요(종료는 0입니다.)>>>2
정수를 입력하세요(종료는 0입니다.>>>5
정수를 입력하세요(종료는 0입니다.>>>3
정수를 입력하세요(종료는 0입니다.>>>0
[2, 5, 3]

In [35]:
day = 1
while day <= 5:
  print(day ,'일차' , hour ,'교시')
  hour += 1
  day += 1

AttributeError: ignored

In [37]:
dan = 2
while dan <= 9:                         # 외우기
  no = 1
  while no <= 9:
   print(f'{dan} * {no} = {dan * no}')
   no += 1
  dan +=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [40]:
no =int(input('정수를 입력하세요>>>'))
cnt = 1

if no <= 0:
  print('잘못된 입력입니다.')
else:
  while cnt <= no:
    print(f'{cnt}번째 Hello')
    cnt += 1

정수를 입력하세요>>>5
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [42]:

n = 1
while n <= 100:
  if n % 7 ==0:
   print(n)
  n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98