<a href="https://colab.research.google.com/github/Gichul515/python202204/blob/main/Pythonday6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# p192      반환값

def address():
  str = '우편번호 1234\n'
  str += '서울시 영등포구 여의도동'
  return str

print(address())

우편번호 1234
서울시 영등포구 여의도동

In [5]:
def calculator(*args):    #   가변 매개변수
  return sum(args), sum(args)/len(args), max(args), min(args) # 1개의 튜플로 리턴

a,b,c,d = calculator(1,2,3,4,5)
print(a)
print(b)
print(c)
print(d)

15
3.0
5
1

In [7]:
def charge(energy):
  if energy < 0:
    print('0보다 작은 에너지는 충전할수 없습니다.')
    return
  print('에너지가 충전되었습니다.')

charge(-1)

0보다 작은 에너지는 충전할수 없습니다.

In [1]:
# p197   아주 중요한 개념         # 지역변수와 전역변수 고민이 되면 지역변수를 사용
# 지역변수 local variable 와 전역변수 global variable

def f():
  a = 10
  print(f'f() 내부 : {a}')
f()

print(a)

# 함수 안에서 선언한 변수(지역함수)는 함수 안에서만 의미가 있다.

f() 내부 : 10

NameError: ignored

In [3]:
b = 10  #전역변수 global variable
def f():
  print(f'f() 내부:{b}')

f()
print(b)

f() 내부:10
10

In [4]:
# p199  #1

def vending_machine(money):
  price = 700   # 한잔 가격 700원
  cups = money // price # 3000 // 700   ->> 4
  for drink in range(cups + 1):
    coin = money - price * drink 
    print(f'음료수 = {drink}개, 잔돈 = {coin}원')  # cup 4    coin 200



vending_machine(3000)

음료수 = 0개, 잔돈 = 3000원
음료수 = 1개, 잔돈 = 2300원
음료수 = 2개, 잔돈 = 1600원
음료수 = 3개, 잔돈 = 900원
음료수 = 4개, 잔돈 = 200원

In [6]:
# p200 #2

def get_average(marks):
  sum = 0
  for mark in marks:
    sum += marks[mark]
  avg = sum / len(marks)
  return avg

marks = {'국어':90, '영어':80, '수학':85}   
average = get_average(marks)
print(f'평균은 {average}점 입니다.')

평균은 85.0점 입니다.

In [ ]:
# module 과 import

# module = .py  모든 파이썬 파일은 모듈이다.