<a href="https://colab.research.google.com/github/Gichul515/python202204/blob/main/pythonday5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

# p116 for문

for n in [1,2,3]:
  print(n)

1
2
3

In [ ]:
n = 1
while n in [1,2,3]:
  print(n)
  n += 1

In [3]:
# 반복 가능 객체 (컬렉션)
# 시퀸스 자료형 - 문자열 리스트 튜플 range 
# 비시퀀스 자료형 - 셋, 딕셔너리 (순서가 없다.)

for ch in 'Hello' :
  print(ch)

H
e
l
l
o

In [4]:
# for 문과 list

for item in ['가위' , '바위' , '보']:
  print(item)

가위
바위
보

In [7]:
# for 문과 tuple
for season in ('Spring' , 'Summer' , 'Autumn' , 'Winter'):
  print(season)

Spring
Summer
Autumn
Winter

In [8]:
# for 문과 range

#range(5)    # 0부터 5미만까지 4까지
#range(2,10) # 2부터 10미만 9까지

range(0, 5)

In [10]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [11]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range(1,101):
  print(n)

In [15]:
# for 문과 set      #하나씩 뽑아주는데 순서가 없다. 어떤 놈부터 나올지 모른다.
for item in {'가위' , '바위' ,'보'}:
  print(item)

가위
바위
보

In [17]:
#for 문과 딕셔너리

person = {
    'name':'에밀리',
    'age':20
}
for item in person:
  print(item, person[item])

name 에밀리
age 20

In [23]:
# 129 #1


for n in range(1,6):
  print(n)

1
2
3
4
5

In [26]:
#2

n = int(input('임의의 양수를 입력하세요>>>'))

sum = 0
for no in range(1,n+1):
  sum += no
print(sum)

임의의 양수를 입력하세요>>>3
6

In [36]:
# 3

no= int(input('몇 개의 과일을 보관할까요? >>>'))

basket = []

for i in range(no):
  fruit = input(f'{ i+1}번째 과일을 입력하세요>>>')
  basket.append(fruit)

print(f'입력받은 과일들은 {basket}입니다.')

몇 개의 과일을 보관할까요? >>>3
1번째 과일을 입력하세요>>>애플
2번째 과일을 입력하세요>>>바나나
3번째 과일을 입력하세요>>>체리
입력받은 과일들은 ['애플', '바나나', '체리']입니다.

In [38]:
# p 134 break

n = 1
while n <= 10:
  print(n)
 
  n += 1

1
2
3
4
5
6
7
8
9
10

In [39]:
n = 1
while n <= 10:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [43]:
# p 138 continue

total = 0;
for a in range(1,101):
  if a % 3 == 0:
    continue
  total += a

print(total)

3367

In [61]:
# p141 #1


coin = 10000
while True:
  print(f'현재 {coin}원이 있습니다.')

  if coin == 0:
    break

  pay = int(input('사용할 급액 입력 >>> '))

  if pay <= 0:
    print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > coin:
    print(f'{pay - coin}원이 부족합니다.')
  else:
    coin -= pay

현재 10000원이 있습니다.
사용할 급액 입력 >>> 5000
현재 5000원이 있습니다.
사용할 급액 입력 >>> -5000
0이하의 금액은 사용할 수 없습니다.
현재 5000원이 있습니다.
사용할 급액 입력 >>> 6000
1000원이 부족합니다.
현재 5000원이 있습니다.
사용할 급액 입력 >>> 4000
현재 1000원이 있습니다.
사용할 급액 입력 >>> 1000
현재 0원이 있습니다.

In [60]:
# p141 #2
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>> '))

  if score > 5 or score <= 0:
    print('평점은 1~5사이만 입력할수 있습니다.')
  else:
    print('평점 : ' , '★' * score )
    break

이번 영화의 평점을 입력하세요 >>> 5
평점 :  ★★★★★

In [59]:
answer = 'qwerty'

no = 1

while True:
  password = input('비밀번호를 입력하세요 >>> ')

  if answer == password:
    print('비밀번호를 맞혔습니다.')
    break

  if no == 5:
    print('비밀번호 입력횟수를 초과했습니다.')
    break

  no += 1

비밀번호를 입력하세요 >>> 123456
비밀번호를 입력하세요 >>> asdfgh
비밀번호를 입력하세요 >>> qwerty
비밀번호를 맞혔습니다.

In [64]:
# p 143 #4          #구구단은 푸는 방법을 외우자

for i in range(2,10):
  if i % 2 ==0:
    continue
  for j in range(1,10):
    if j > i:
      break
    print(f'{i} * {j} = {i*j}')
  print()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [65]:
# 146 내장함수    #외우기

for item in enumerate({'가위', '바위', '보'}):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [66]:
for idx, item in enumerate(['가위' , '바위', '보']):
  print(idx + 1, item)

1 가위
2 바위
3 보

In [68]:
# zip()

names = ['james','emily','amanda']
scores = [60,70,80]

for name, score in zip(names,scores):
  print(f'{name}의 점수는 {score}점입니다.')

james의 점수는 60점입니다.
emily의 점수는 70점입니다.
amanda의 점수는 80점입니다.

In [ ]:
# 184 사용자 함수 <<<아주중요

# def 함수명(변수) :
#     본문
#     return 결과

In [ ]:
# 1 인수 없고 반환 없는 사용자 정의 함수
# 2 인수 있고 반환 없는 사용자 정의 함수
# 3 인수 없고 반환 있는 사용자 정의 함수
# 4 인수 있고 반환 있는 사용자 정의 함수

In [ ]:
# 1 인수 없고 반환 없는 사용자 정의 함수

def welcome():
  print('Hello World')


welcome()

In [ ]:
# 1 인수 있고 반환 없는 사용자 정의 함수

def welcome(name):
  print('Hello World')


welcome('Austin')

In [ ]:
# 2 인수 있고 반환 없는 사용자 정의 함수

def welcome(name):
  print('Hello', name)


welcome('Austin')

In [ ]:
# 3 인수 없고 반환 있는 사용자 정의 함수
def welcome():
  return 1

welcome()

In [ ]:
# 4 인수 있고 반환 있는 사용자 정의 함수

def add(a,b):
  return a+b

add(3,4)

In [69]:
def introduce(name,age):
  print(f'내이름은 {name}이고, 나이는 {age}살입니다.')
introduce('james', 25)

내이름은 james이고, 나이는 25살입니다.

In [76]:
# 가변 매개변수

def add2(a,b):
  return a+b

def add3(a,b,c):
  return a+b+c


add2(3,4)

def add(*args):
  sum = 0
  for item in args:
    sum += item
  print(sum)



add(1,2,3,4,5,6,7,8,9)

45

In [79]:
del sum

def add(*args):
  print(f'{sum(args)}입니다.')


add(1,2,3)

6입니다.

In [77]:
# 디폴트 매개변수
def greet(message='안녕하세요'):
  print(message)

greet()

안녕하세요

In [78]:
greet('방가방가')

방가방가